LOG_LEVEL=debug
CLEAR_DATA_ON_EXIT=true
OLLAMA_API_URL=http://127.0.0.1:11434
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
DB_FILE_NAME=data/sqlite/reports.db

## Code Complexity Rater
COMPLEXITY_MODEL_NAME=nemotron-mini
# Better COMPLEXITY_MODEL_NAME=qwen2.5-coder:7b

## Code Reviewer
# Faster REVIEW_MODEL_NAME=nemotron-mini
REVIEW_MODEL_NAME=qwen2.5-coder:7b
