LOG_LEVEL=debug
CLEAR_DATA_ON_EXIT=true
OLLAMA_API_URL=http://127.0.0.1:11434
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
DB_FILE_NAME=data/sqlite/reports.db
AGENT_CONCURRENCY=1
AGENT_RATE_LIMIT=1

## Code Complexity Rater
COMPLEXITY_MODEL_NAME=nemotron-mini
# Better COMPLEXITY_MODEL_NAME=qwen2.5-coder:7b

## Code Reviewer
# Faster REVIEW_MODEL_NAME=nemotron-mini
REVIEW_MODEL_NAME=qwen2.5-coder:7b

## Final Report Agent
# Fast  but not great REVIEW_MODEL_NAME=nemotron-mini
# Good local (7b, 4.2GB) REVIEW_MODEL_NAME=falcon
# Better quality, ok for local (22b, 12GB) REVIEW_MODEL_NAME=mistral-small
REPORT_MODEL_NAME=falcon


## Development settings (time and token savers)
DEV_SKIP_REVIEW=false
DEV_SKIP_REPORT_GEN=false